{% extends "_layouts/cp.twig" %}
{% set title = "Pinecone"|t('pinecone') %}

{% block content %}
  <p>Hello! This plugin is used to help run and monitor the site.</p>
{% endblock %}

{% block actionButton %}
<a class="btn help icon" href="#">Help</a>
{% endblock %}